<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
    <title>ticket列表</title>
</head>
<body>
    <h3 align="center">ticket列表</h3>
    <table border="1" width="70%" align="center">
        <thead>
        <tr>
            <th>列车班次</th>
            <th>始发站</th>
            <th>目的地</th>
            <th>发车时间</th>
            <th>到达时间</th>
            <th>座位类型</th>
            <th>座位号</th>
            <th>价格</th>
            <th>剩余数量</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ticket : ${list}">
            <td th:text="${ticket.trainNumber}"></td>
            <td th:text="${ticket.checkin}"></td>
            <td th:text="${ticket.checkout}"></td>
            <td th:text="${ticket.startTime}"></td>
            <td th:text="${ticket.endTime}"></td>
            <td th:text="${ticket.seatType}"></td>
            <td th:text="${ticket.seatNumber}"></td>
            <td th:text="${ticket.price}"></td>
            <td th:text="${ticket.amount}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>
