<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
</head>
<body>
<form  action="/ticket/search" autocomplete="on" method="post">
    <h1>查询</h1>
    <p>
        <label > 始发站 </label>
        <input id="checkin" name="checkin" required="required" type="text"/>
    </p>
    <p>
        <label>目的地 </label>
        <input id="checkout" name="checkout" required="required" type="text"/>
    </p>
    <p>
        <label>时间</label>
        <input type="date" name="startTime" id="startTime" value="2018-06-01">
    </p>
    <p>
        <input type="submit" value="查询"/>
    </p>
</form>
<table border="1" width="70%" align="center">
    <tr>
        <th>ID</th>
        <th>列车班次</th>
        <th>始发站</th>
        <th>目的地</th>
        <th>发车时间</th>
        <th>到达时间</th>
        <th>剩余数量</th>
    </tr>
</table>
</body>
</html>
